<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017625944542-obac7thhtldgrm3bc3ger06o7cp91b35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017625944542-obac7thhtldgrm3bc3ger06o7cp91b35</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1017625944542-u12d53f3ue4bkjvdonoq051d9t1fs5eq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDeh_3SzcUt4yQY7CLL960RXMFgzNmQdV0</string>
	<key>GCM_SENDER_ID</key>
	<string>1017625944542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swis.ios</string>
	<key>PROJECT_ID</key>
	<string>swissapp-1a030</string>
	<key>STORAGE_BUCKET</key>
	<string>swissapp-1a030.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017625944542:ios:23a111f6daf2f9cc</string>
	<key>DATABASE_URL</key>
	<string>https://swissapp-1a030.firebaseio.com</string>
</dict>
</plist>